{% extends 'base.html.twig' %}

{% block title %}Liste des films{% endblock %}

{% block body %}
    <div class="films">
    {%  include 'navbar.html.twig' %}
    <div class="container">
        <div class="row justify-content-around">
            <h2>Liste des
                <span
                        class="txt-rotate"
                        data-period="2000"
                        data-rotate='[ "films", "séries", "mangas" ]'>

                </span>
            </h2>
        </div>
    <div class="row">
    {% for film in films %}
        <div class="col-4">
        <div class="card">
            <img class="card-img-top" src="{{ film.cover }}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ film.title }}</h5>
                <p class="card-text">Réalisé en : {{ film.productionDate|date('Y') }}</p>
                <p class="card-text">Note des critiques : {{ film.note }}/5</p>
                <a href="{{ path('show_film', {'id': film.id}) }}" class="btn btn-link">Voir plus</a>
            </div>
        </div>
        </div>
    {% endfor %}
    </div>
    <div class="row justify-content-center">
        <div class="navigation">
            {{ knp_pagination_render(films) }}
        </div>
    </div>
</div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('titleanimation') }}
{% endblock %}
